.container-fluid
  h1 Show Item
  .row
    .col-xs-1
    .col-xs-4.col-sm-3.col-md-2
      h2 {{item.name}}
      a(ui-sref='items.show({itemId:item._id})')
        img.img-thumbnail(ng-src='{{item.imageUrl}}')
      div.lead {{item.name}}
      div System: {{item.system}}
      div Year: {{item.year}}
      div Owned by: ITEM.USERNAME {{userName}}
      div(ng-repeat: tag in item.tags)  
        span Tags: {{tag}}
    .col-xs-7.col-sm-6.col-md-9.background2.rounded
      hr
      .pageheader Control Panel
      hr
      form
        .form-group
        .pageheader Offer a Trade:
        label(for='item1') Your Item  
        .row
          .col-xs-6
            select#item1-select.form-control(name='item1', ng-options='item._id as item.name for item in myItems', ng-model='item1')
          .col-xs-6
            button.btn.btn-primary(type='submit', ng-click='submit(item1)') Offer Trade
        
