.container-fluid
  h1 Show Item
  .row
    .col-xs-1
    .col-xs-4.col-sm-3.col-md-2
      a(ui-sref='items.show({itemId:item._id})')
        img.img-thumbnail(ng-src='{{item.imageUrl}}')
      h2.lead {{item.name}}
      div System: {{item.system}}
      div Year: {{item.year}}
      div Owned by: {{userName}}
      div(ng-show='item.tags.length')
        span Tags:  
        span.label-margin.label.label-info(ng-repeat='tag in item.tags') {{tag}}
    .col-xs-7.col-sm-6.background2.rounded
      hr
      .pageheader Control Panel
      hr
      form
        .form-group(ng-show='userId === item.userId') 
          .pageheader Trade
          button.btn.btn-success(type='submit', ng-click='toggleCanSwap()', ng-show='item.canSwap') Can Trade 
          button.btn.btn-danger(type='submit', ng-click='toggleCanSwap()', ng-hide='item.canSwap') Can't Trade 
        .form-group(ng-hide='userId === item.userId') 
          .pageheader Trade
          button.btn.btn-success.disabled(type='submit', ng-show='item.canSwap') Can Trade 
          button.btn.btn-danger.disabled(type='submit', ng-hide='item.canSwap') Can't Trade 
      form(ng-hide='userId === item.userId || item.isPending') 
        .form-group
        .pageheader Offer a Trade:
        label(for='item1') Your Item  
        .row
          .col-xs-6
            select#item1-select.form-control(name='item1', ng-options='item._id as item.name for item in myItems', ng-model='item1')
          .col-xs-6
            button.btn.btn-primary(type='submit', ng-click='submit(item1)') Offer Trade
        hr    
