.container-fluid
  .row.blockLength
    .col-xs-12
  .row
    .col-xs-12
      h1.splashHeader Game Swap
//- video(autoplay='' loop='' poster='')
//-   source(src='../../media/mp4/MarioBros-v2.mp4' type='video/mp4')
