nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Game Swap
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-hide='userName')
        li: a(ui-sref='register'): i.fa.fa-user-plus &nbsp; Register
        li: a(ui-sref='login'): i.fa.fa-key &nbsp; Login
      ul.nav.navbar-nav.navbar-right(ng-show='userName')
        li: a(ui-sref='items.index'): i.fa.fa-gamepad &nbsp; Browse Games
        li: a(ui-sref='items.new'): i.fa.fa-plus &nbsp; Add Game
        li: a(ui-sref='items.inventory'): i.fa.fa-book &nbsp; My Games
        li: a(ui-sref='trades'): i.fa.fa-list-ul &nbsp; My Trades
        li: a(href='#', ng-click='logout()') {{userName}}
      ul.nav.navbar-nav.navbar-left
        li: a(ui-sref='home'): i.fa.fa-home &nbsp; Home
   
