.container-fluid
  .row
    .col-xs-12
      table.table.table-striped
        caption Offers to Me
        thead
          tr
            th #
            th Item 1
            th Item 2
            th Created
            th Options     
        tbody
          tr(ng-repeat='trade in trades track by $index | filter : {user1:userId, isComplete:false}')
            th {{$index}}
            td {{trade.item1.name}}
            td {{trade.item2.name}}
            td
              span(am-time-ago='trade.createdAt')
            td Options
      .col-xs-12
      table.table.table-striped
        caption my Offers to Others
        thead
          tr
            th #
            th Item 1
            th Item 2
            th Created
            th Options     
        tbody
          tr(ng-repeat='trade in trades track by $index | filter : {user2:userId}')
            th {{$index}}
            td {{trade.item1.name}}
            td {{trade.item2.name}}
            td
              span(am-time-ago='trade.createdAt')
            td Le Optiones
      .col-xs-12
      table.table.table-striped
        caption Trade history
        thead
          tr
            th #
            th Item1 
            th Item2
            th Date Completed       
        tbody
          tr(ng-repeat='trade in trades track by $index | filter : {isComplete:true}')
            th {{$index}}
            td {{trade.item1.name}}
            td {{trade.item2.name}}
            td  
              span(am-time-ago='trade.completedAt')
