.row
  .col-xs-1
  .col-xs-6
    h3.page-header {{_.capitalize(name)}}
    form
      .form-group
        label(for='userName') Username
        input#userName.form-control(type='text', name='userName', autofocus=true, required, ng-model='user.userName')
      .form-group(ng-show='name === "login"')
        label(for='password') Password
        input#password.form-control(type='password', name='password', ng-required='name === "login"', ng-model='user.password')
      .form-group(ng-show='name === "register"')
        label(for='email') Email
        input#email.form-control(type='email', name='email', ng-required='name === "register"', ng-model='user.email')
        label(for='password1') Enter Password
        input#password1.form-control(type='password', name='password1', ng-required='name === "register"', ng-model='user.password1')
        label(for='password2') Confirm Password
        input#password2.form-control(type='password', name='password2', ng-required='name === "register"', ng-model='user.password2')
      .form-group
        button.btn.btn-default(type='submit', ng-click='submit(user)') {{_.capitalize(name)}}
  .col-xs-5
